<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Smart Agriculture
    </ion-title>

    <ion-buttons slot="primary">
      <ion-button color="secondary" routerLink="/auth">
        <ion-icon slot="icon-only" name="log-in-outline"></ion-icon>
      </ion-button>
    </ion-buttons>


  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  

    <h3></h3>
    <ion-list lines="nones">
      <ion-list-header lines="inset">
        <ion-label>Projets en cours...</ion-label>
      </ion-list-header>

      <ion-item *ngFor="let l of projects">
        <div class="line" [routerLink]="'/project-details/'+l.id">
          {{l.project.title}}
  
        </div>
      </ion-item>
    </ion-list>

</ion-content>